@tailwind base;
@tailwind components;
@tailwind utilities;
@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:100%;
  @include table{
    font-size:80%;
  }
  @include mobile
}
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  color: black;
}
