@use "./variables"
@mixin flex($alignItem, $justifyContent) {
  display: flex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}
@mixin overlay {
  background-color: rgba($color: #000, $alpha: 0.6);
}
@mixin mobile {
  @media only screen and (max-width: $mobileWidth) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tableWidth) {
    @content;
  }
}
